@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
}
/* Custom styles for icons and tooltips */
/* From Uiverse.io by david-mohseni */
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 180px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: start;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 5px;
  width: 50px;
  padding: 0 15px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -8px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .Github:hover,
.wrapper .Github:hover .tooltip,
.wrapper .Github:hover .tooltip::before {
  background: #17293e;
  color: #fff;
}

.wrapper .Linkdin:hover,
.wrapper .Linkdin:hover .tooltip,
.wrapper .Linkdin:hover .tooltip::before {
  background: #1981c1;
  color: #fff;
}

.wrapper .Mail:hover,
.wrapper .Mail:hover .tooltip,
.wrapper .Mail:hover .tooltip::before {
  background: #ea4f6b;
  color: #fff;
}
.wrapper .CV:hover,
.wrapper .CV:hover .tooltip,
.wrapper .CV:hover .tooltip::before {
  background: #6f42c1;
  color: #fff;
}
.wrapper .Whatsapp:hover,
.wrapper .Whatsapp:hover .tooltip,
.wrapper .Whatsapp:hover .tooltip::before {
  background: #25d366;
  color: #fff;
}
